{
  "openapi": "3.0.1",
  "info": {
    "title": "xyzt.ai platform API",
    "description": "<p>Welcome to the documentation of the public API of the xyzt.ai platform. The goal of this API is to allow you to automate certain operations on the platform.</p><p>The base URL of the server is <a href=\"https://api.platform-xyzt.ai\">https://api.platform-xyzt.ai</a>. All URLs in this documentation are relative to this base URL.</p><p>You can also find some example scripts on <a href=\"https://github.com/xyzt-ai/platform-examples\">Github</a>.</p>",
    "contact": {
      "name": "xyzt.ai",
      "url": "https://www.xyzt.ai",
      "email": "support@xyzt.ai"
    },
    "license": {
      "name": "xyzt.ai commercial license"
    },
    "version": "1.0",
    "x-logo": {
      "url": "/images/logos/xyzt.ai-logo-apidocs.png"
    }
  },
  "servers": [
    {
      "url": "https://api.platform-xyzt.ai"
    }
  ],
  "tags": [
    {
      "name": "Project resources: widgets",
      "description": "<p>A widget is a small version of a UI element which can be placed on the dashboard of a project.</p><p>On the dashboard, widgets are grouped together in a widget group.</p>"
    },
    {
      "name": "Project resources: filter information",
      "description": "<p>Each of the analytics pages allow you to filter on data properties, areas and time.</p><p>In order to create such filters through the API, you need to know for example what the available areas are.These methods allow to gather that information.</p>"
    },
    {
      "name": "Data Sets",
      "description": "<p><b>Data sets with time-dependent data</b></p><p>A data set is a collection of location records. You can add records by uploading CSV files where each row is a record with a location, timestamp and properties.</p><p>There are 2 different ways to provide the location information.</p><ul><li>The coordinates are contained in the CSV data files (movement data).</li><li>The CSV data files only contain a shape identifier for the location, and the actual shapes are defined in a separate GeoJSON file (time series data).</li></ul><p>An asset in a dataset can have properties that remain constant over time, and that aren't duplicated in each location record. For example for a ship this could be the name of the ship and the length. These properties are called metadata and can be uploaded separately.</p><p>Metadata CSV files are only supported for movement data.When working with time series data, any metadata about those locations should be put in the GeoJSON file as well.</p><p>By default all uploaded data is added to the data set and cannot be deleted afterwards.Only the whole data set can be deleted.</p><p>If you want to delete part of the data set, you need to use batches.When uploading new records, you can indicate to which batch they belong.Each of the batches can be deleted individually.</p><p>A use-case for using batches is uploading new records daily, but only wanting to retain the data of the last week.This can be done by creating a new batch every day, and deleting the batches you no longer need.</p><p><b>Data sets without time-dependent data</b></p><p>The platform also supports to upload GeoJSON files as data sets.The GeoJSON file contains a spatial location (point, polyline, polygon) and some properties for each of those locations.</p><p>By uploading the GeoJSON file as data set (and not as background layer or area of interest), you can style and filter the GeoJSON data.</p>"
    },
    {
      "name": "Authentication (JWT token)",
      "description": "<p>A JWT token is required to use the public API, which can be acquired here.Tokens are only valid for a few minutes at a time, so when using long-running scripts you will want to request a new token at regular intervals.</p><p>The token should be added to the <code>Authorization</code> header of all requests prefixed with <code>Bearer </code>.</p><p>For example if the JWT token is <code>12345</code>, the <code>Authorization</code> header would become:</p><pre>Bearer 12345</pre>"
    },
    {
      "name": "Projects",
      "description": "<p>A project combines data sets, areas of interest and background layers and makes them available to the analysis tools.</p>"
    },
    {
      "name": "Project resources: mapdata",
      "description": "<p>Mapdata (background or area of interest layers) can be attached to one or more projects.</p>"
    },
    {
      "name": "Project queries: query and download data",
      "description": "<p>Query your project for data, and download it as CSV or JSON.</p>"
    },
    {
      "name": "Project resources: links",
      "description": "<p>Pages of the project can be shared with people outside the platform by creating a link.</p><p>Links can only be created for a bookmark. People accessing the link will be taken to a page where the state matches the state stored in the bookmark.</p><p><strong>Warning:</strong> as long as the bookmark and link exist, anybody who knows the link has access to that project page and can view the data.</p>"
    },
    {
      "name": "Project resources: data sets",
      "description": "<p>Data sets can be attached to one or more projects.</p>"
    },
    {
      "name": "Background layers and areas of interest (=mapdata)",
      "description": "<p>Besides the data set you want to analyze you can also add background and/or area of interest layers to your project.In this REST API, we use the term <i>mapdata</i> to refer to either a background layer or an area of interest.</p><p><b>Background layers</b> are non-interactive layers that are rendered on the map in the Visual Analytics view.Typical examples are satellite imagery when analyzing outdoor data and floor plans when working with indoor date.</p><p><b>Areas of interest</b> are locations or areas that are of interest for analysis.For example, they could be the locations of retail stores, anchorage areas near ports, or road crossings.The areas of interest can be used to create filters and dashboards that focus the analytics on the respective region.</p>"
    },
    {
      "name": "Project resources: bookmarks",
      "description": "<p>Bookmarks allow you to store the state of your project so you can access it in the future.</p><p>You can only create/edit/delete bookmarks for your own projects.</p>"
    }
  ],
  "paths": {
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/json/trend": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Get the data which is shown in the trend diagrams (histograms or timelines) in JSON format",
        "description": "<p>Returns the data from the trend diagrams in JSON format.</p>",
        "operationId": "downloadTrendAsJSON",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and trend properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadTrendDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDownloadTrendDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/json/table": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Get the data which is shown in the table on the visual analytics page in JSON format",
        "description": "<p>Returns the data from the table view shown on the visual analytics page in JSON format.</p>",
        "operationId": "downloadTableAsJSON",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and table properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadTableDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDownloadTableDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/json/origindestination": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the data which is shown in the origin destination matrix in JSON format",
        "description": "<p>Returns the data from the origin destination matrix in JSON format.</p>",
        "operationId": "downloadOriginDestinationAsJSON",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and origin destination properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadOriginDestinationDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDownloadOriginDestinationDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/json/dwelltimeanalysis": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the data of the dwell time analysis in JSON format",
        "description": "<p>Returns the data from the dwell time analysis in JSON format.</p>",
        "operationId": "downloadDwellTimeAnalysisAsJSON",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and dwell time analysis properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadDwellTimeDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDownloadDwellTimeDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/json/distribution": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the data which is shown in the distribution diagrams in JSON format",
        "description": "<p>Returns the data from the distribution diagrams in JSON format.</p>",
        "operationId": "downloadDistributionAsJSON",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and distribution properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadDistributionDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDownloadDistributionDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/json/assetids": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the asset ids in JSON format",
        "description": "Returns the asset ids matching a filter",
        "operationId": "downloadAssetIdsAsJSON",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadAssetIdsDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDownloadAssetIdsDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/csv/trend": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Get the data which is shown in the trend diagrams (histograms or timelines) in CSV format",
        "description": "<p>Returns the data from the trend diagrams in CSV format.</p>",
        "operationId": "downloadTrendAsCSV",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and trend properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadTrendDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/csv/table": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Get the data which is shown in the table on the visual analytics page in CSV format",
        "description": "<p>Returns the data from the table view shown on the visual analytics page in CSV format.</p><p>The returned CSV contains only the requested columns, and a row for each asset.</p>",
        "operationId": "downloadTableAsCSV",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and table properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadTableDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/csv/origindestination": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the data which is shown in the origin destination matrix in CSV format",
        "description": "<p>Returns the data from the origin destination matrix in CSV format.</p>",
        "operationId": "downloadOriginDestinationAsCSV",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and origin destination properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadOriginDestinationDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/csv/dwelltimeanalysis": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the data of the dwell time analysis in CSV format",
        "description": "<p>Returns the data from the dwell time analysis in CSV format.</p>",
        "operationId": "downloadDwellTimeAnalysisAsCSV",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and dwell time analysis properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadDwellTimeDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/csv/distribution": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the data which is shown in the distribution diagrams in CSV format",
        "description": "<p>Returns the data from the distribution diagrams in CSV format.</p>",
        "operationId": "downloadDistributionAsCSV",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters and distribution properties",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadDistributionDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/data-query/projects/{projectId}/datasets/{dataSetId}/csv/assetids": {
      "post": {
        "tags": [
          "Project queries: query and download data"
        ],
        "summary": "Download the asset ids in CSV format",
        "description": "Returns the asset ids matching a filter",
        "operationId": "downloadAssetIdsAsCSV",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the dataSet",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the filters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicDownloadAssetIdsDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/tokens": {
      "post": {
        "tags": [
          "Authentication (JWT token)"
        ],
        "summary": "Retrieve a JWT token",
        "description": "Retrieve a JWT token based on the username and password of the API user. ",
        "operationId": "obtainToken",
        "requestBody": {
          "description": "Request body containing the credentials",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JWTTokenDTO"
                }
              }
            }
          }
        }
      }
    },
    "/public/api/projects/{projectId}/mapdata": {
      "get": {
        "tags": [
          "Project resources: mapdata"
        ],
        "summary": "Retrieve all mapdata used in a project",
        "description": "Returns a list with all your mapdata that are used in one of your projects.",
        "operationId": "getAllProjectMapData",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicMapDataDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Project resources: mapdata"
        ],
        "summary": "Attach a mapdata to a project",
        "description": "Attaches the mapdata to the project. If you want to use a mapdata in multiple projects, you have to call this method multiple times.",
        "operationId": "addMapDataToProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body specifying which mapdata you want to attach to the project",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAddMapDataToProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets": {
      "get": {
        "tags": [
          "Project resources: data sets"
        ],
        "summary": "Retrieve all datasets used in a project",
        "description": "Returns a list with all your datasets that are used in one of your projects.",
        "operationId": "getAllProjectDataSets",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDataSetDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Project resources: data sets"
        ],
        "summary": "Attach a data set to a project",
        "description": "Attaches the data set to the project. If you want to use a data set in multiple projects, you have to call this method multiple times.",
        "operationId": "addDataSetToProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body specifying which data set you want to attach to the project",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicAddDataSetToProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/visualanalyticswidgets": {
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new visual analytics widget",
        "description": "<p>Creates a new visual analytics widget.</p><p>The created widget resource is returned.</p>",
        "operationId": "createVisualAnalyticsWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to which the widget belongs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the visual analytics widget under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicVisualAnalyticsWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/trendanalyticwidgets": {
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new trend analytics widget",
        "description": "<p>Creates a new trend analytics widget.</p><p>The created widget resource is returned.</p>",
        "operationId": "createTrendAnalyticsWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to which the widget belongs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the trend analytics widget under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicTrendAnalyticsWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/origindestinationwidgets": {
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new origin destination widget",
        "description": "<p>Creates a new origin destination widget.</p><p>The created widget resource is returned.</p>",
        "operationId": "createOriginDestinationWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to which the widget belongs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the origin destination widget under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicOriginDestinationWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/dwelltimewidgets": {
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new dwell time widget",
        "description": "<p>Creates a new dwell time widget.</p><p>The created widget resource is returned.</p>",
        "operationId": "createDwellTimeWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to which the widget belongs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the dwell time widget under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicDwellTimeWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/documentationwidgets": {
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new documentation widget",
        "description": "<p>Creates a new documentation widget.</p><p>The created widget resource is returned.</p>",
        "operationId": "createInformationWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to which the widget belongs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the documentation widget under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicDocumentationWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/distributionanalyticwidgets": {
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new distribution analytics widget",
        "description": "<p>Creates a new distribution analytics widget.</p><p>The created widget resource is returned.</p>",
        "operationId": "createDistributionAnalyticsWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to which the widget belongs",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the distribution analytics widget under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicDistributionAnalyticsWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups": {
      "get": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Retrieve all the available widget groups for a project",
        "description": "<p>Returns all the widget groups that are created for the project.</p><p>You need to have at least one widget group before you can add widgets to your dashboard.</p>",
        "operationId": "getWidgetGroups",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicWidgetGroupDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Create a new widget group for the project",
        "description": "<p>Creates a new widget group for the project, and returns the created widget group.</p><p>Once you have a widget group, you can add widgets to it.</p>",
        "operationId": "createWidgetGroup",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the widget group for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the widget group under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicWidgetGroupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWidgetGroupDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/bookmarks/{bookmarkId}/links": {
      "get": {
        "tags": [
          "Project resources: links"
        ],
        "summary": "Retrieve all available links for the bookmark",
        "description": "<p>Returns all the links that are created for the bookmark.</p>",
        "operationId": "getBookmarkLinks",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmarkId",
            "in": "path",
            "description": "The id of the bookmark",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicBookmarkLinkDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Project resources: links"
        ],
        "summary": "Create a new link for the bookmark",
        "description": "<p>Creates a new link for the bookmark, and returns the created link.</p><p><strong>Warning:</strong> as long as the bookmark and link exist, anybody who knows the link has access to that project page and can view the data.</p>",
        "operationId": "createLink",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmarkId",
            "in": "path",
            "description": "The id of the bookmark to create the link for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the link under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicBookmarkLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBookmarkLinkDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/bookmarks": {
      "get": {
        "tags": [
          "Project resources: bookmarks"
        ],
        "summary": "Retrieve all available bookmarks for a project",
        "description": "<p>Returns all the bookmarks that are created for the project.</p>",
        "operationId": "getBookmarks",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicBookmarkDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Project resources: bookmarks"
        ],
        "summary": "Create a new bookmark for the project",
        "description": "<p>Creates a new bookmark for the project, and returns the created bookmark.</p><p>Once you have a bookmark, you can create links for it.</p>",
        "operationId": "createBookmark",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project to create the bookmark for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body describing the bookmark under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicBookmarkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicBookmarkDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Retrieve all the available projects",
        "description": "Returns a list with all your available projects.",
        "operationId": "getAllProjects",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicProjectDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "description": "<p>Creates a new project.</p><p>The created project resource is returned.</p>",
        "operationId": "createProject",
        "requestBody": {
          "description": "Request body describing the project under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProjectDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/mapdata/wms": {
      "post": {
        "tags": [
          "Background layers and areas of interest (=mapdata)"
        ],
        "summary": "Create a new WMS background layer",
        "description": "<p>Creates a new WMS background layer.</p><p>The created mapdata resource is returned.</p>",
        "operationId": "createWMSBackgroundLayer",
        "requestBody": {
          "description": "Request body describing the WMS background layer under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicWMSMapDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMapDataDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/mapdata/mapbox": {
      "post": {
        "tags": [
          "Background layers and areas of interest (=mapdata)"
        ],
        "summary": "Create a new Mapbox background layer",
        "description": "<p>Creates a new Mapbox background layer.</p><p>The created mapdata resource is returned.</p>",
        "operationId": "createMapboxBackgroundLayer",
        "requestBody": {
          "description": "Request body describing the Mapbox background layer under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicMapboxMapDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMapDataDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/mapdata/geojson/{mapDataId}/images": {
      "post": {
        "tags": [
          "Background layers and areas of interest (=mapdata)"
        ],
        "summary": "Upload images for a GeoJSON layer",
        "description": "<p>Upload the images that are used in the style definition of a GeoJSON layer.</p><p>You can upload the images one by one, or upload a zip file containing all the images.</p>",
        "operationId": "uploadGeoJSONImages",
        "parameters": [
          {
            "name": "mapDataId",
            "in": "path",
            "description": "The id of the mapdata",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMapDataDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/mapdata/geojson": {
      "post": {
        "tags": [
          "Background layers and areas of interest (=mapdata)"
        ],
        "summary": "Create a new GeoJSON layer",
        "description": "<p>Creates a new GeoJSON layer. This can either be a background layer or an area of interest layer.</p><p>The created mapdata resource is returned.</p>",
        "operationId": "createGeoJSONLayer",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file",
                  "json"
                ],
                "type": "object",
                "properties": {
                  "json": {
                    "$ref": "#/components/schemas/CreatePublicGeoJSONMapDataRequest"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMapDataDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/metadata/upload": {
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Upload a CSV file with new metadata for a movement data set.",
        "description": "<p>Upload a file with new metadata to the specified data set.This method can only be called for movement data sets.</p><p>The file can either be a CSV file (.csv) or a GZipped CSV file (.csv.gz).</p>",
        "operationId": "uploadMetadata",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "description": "<p>When present, the metadata will be added to the specified batch. When the batch doesn't exist yet, it will be created.</p><p>Note that when requesting the data sets, the batches are only listed in the data set if the batch contains some processed data. As such, it can take some time after uploading (meta) data to a new batch before the batch gets listed.</p>",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/metadata/structure": {
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Define the structure of your metadata for a movement data set.",
        "description": "<p>Define the structure of your metadata by uploading a CSV file (.csv) defining the available columns in your metadata.This method can be called only for movement data sets.</p><p>You must have defined the structure before you can upload any metadata.</p><p>Once you've uploaded any metadata, it is no longer possible to change the structure.</p>",
        "operationId": "uploadMovementMetadataDefinitionFile",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/geojson/upload": {
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Upload a GeoJSON shape file for a time series or static GeoJSON data set.",
        "description": "<p>Upload a file with new shapes to the specified data set. Note that shapes should have distinct identifiers, also if uploading multiple GeoJSON shape files.</p><p>The file can either be a GeoJSON file (.geojson) or a GZipped GeoJSON file (.geojson.gz).</p>",
        "operationId": "uploadGeoJSONShapeFile",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/geojson/structure": {
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Define the structure of your GeoJSON files for a time series data set or static GeoJSON data set.",
        "description": "<p>Define the structure of your GeoJSON files by uploading a CSV file (.csv) defining the available properties in your GeoJSON files.This method can be called only for time series and static GeoJSON data sets.</p><p>You must have defined the structure before you can upload any GeoJSON files.</p><p>Once you've uploaded any GeoJSON files, it is no longer possible to change the structure.</p>",
        "operationId": "uploadTimeSeriesMetadataDefinitionFile",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/data/upload": {
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Upload a CSV file with new records for a movement or time series data set.",
        "description": "<p>Upload a file with new records to the specified data set.</p><p>The file can either be a CSV file (.csv) or a GZipped CSV file (.csv.gz).</p>",
        "operationId": "uploadData",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "description": "When present, the records will be added to the specified batch.When the batch doesn't exist yet, it will be created.</p><p>Note that when requesting the data sets, the batches are only listed in the data set if the batch contains some processed data. As such, it can take some time after uploading (meta) data to a new batch before the batch gets listed.</p>",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/data/structure": {
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Define the structure of your data.",
        "description": "<p>Define the structure of your data by uploading a CSV file (.csv) defining the available columns in your data.This method can be called for both movement and time series data sets.</p><p>You must have defined the structure before you can upload any data.</p><p>Once you've uploaded any data, it is no longer possible to change the structure.</p>",
        "operationId": "uploadDataDefinitionFile",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets": {
      "get": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Retrieve all the available data sets",
        "description": "Returns a list with all your available data sets.",
        "operationId": "getAllDataSets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDataSetDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      },
      "post": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Create a data set",
        "description": "<p>Creates a new data set.</p><p>The created data set resource is returned.</p><p>After you've created the data set, you first have to define the (meta)data fields before you can start uploading data.</p>",
        "operationId": "createDataSet",
        "requestBody": {
          "description": "Request body describing the data set under construction",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicDataSetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataSetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/timezones": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Retrieve all available timezones",
        "description": "<p>Some places in the API require to provide timezone information as a string.</p><p>The supported timezone strings can be retrieved using this method.</p>",
        "operationId": "getAvailableTimeZoneIdentifiers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/visualanalytics/timelineproperties": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Visual analytics: retrieve all timeline properties",
        "description": "<p>This method returns all the properties and their aggregation modes that can be shown on the timeline of the visual analytics page.</p>",
        "operationId": "getVisualAnalyticsTimeLineProperties",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicVisualAnalyticsTimeLinePropertyDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/visualanalytics/tableviewcolumns": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Visual analytics: retrieve all table view columns",
        "description": "<p>This method returns all the available columns that can be used in the table view of the visual analytics page.</p>",
        "operationId": "getVisualAnalyticsTableViewColumns",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "visualizationmode",
            "in": "query",
            "description": "<p>The available columns for the table view depend on the mode used to visualize the data set.</p><p>When not specified, this method will return the available columns for the <code>GRIDDED</code> mode.</p>",
            "required": false,
            "schema": {
              "type": "string",
              "default": "GRIDDED",
              "enum": [
                "GRIDDED",
                "TRAJECTORIES",
                "REALTIME"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicVisualAnalyticsTableViewColumnDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/visualanalytics/spatialmapproperties": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Visual analytics: retrieve all spatial map properties",
        "description": "<p>This method returns all the properties and their aggregation modes that can be shown on the spatial map of the visual analytics page.</p>",
        "operationId": "getVisualAnalyticsSpatialMapProperties",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicVisualAnalyticsSpatialMapPropertyDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/visualanalytics/distributionproperties": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Visual analytics: retrieve all distribution properties",
        "description": "<p>This method returns all the properties that can be shown on the distribution panel of the visual analytics page.</p>",
        "operationId": "getVisualAnalyticsDistributionProperties",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicVisualAnalyticsDistributionPropertyDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/trendanalytics/histogramproperties": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Trend analytics: retrieve all histogram properties",
        "description": "<p>This method returns all the properties and their aggregation modes that can be shown on the histograms of the trend analytics page.</p>",
        "operationId": "getTrendAnalyticsHistogramProperties",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTrendAnalyticsHistogramPropertyDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/filtering/properties": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Retrieve all properties for filtering",
        "description": "<p>The properties that can be used in a filter depend on both the project and the data set that is active.</p><p>This method returns all the available properties for such a combination.</p><p>When you want to use any of the returned properties in a filter, you need to refer to such a property using the id of the property.</p>",
        "operationId": "getProperties",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicPropertyIdentifierDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/filtering/areas": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Retrieve all areas for filtering",
        "description": "<p>The areas that can be used in a filter depend on both the project and the data set that is active.</p><p>This method returns all the available areas for such a combination.</p><p>When you want to use any of the returned areas in a filter, you need to refer to such an area using the id of the area.</p>",
        "operationId": "getAreas",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAreaIdentifierDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}/distributionanalytics/distributionproperties": {
      "get": {
        "tags": [
          "Project resources: filter information"
        ],
        "summary": "Distribution analytics: retrieve all distribution properties",
        "description": "<p>This method returns all the properties that can be shown on the distributions of the distribution analytics page.</p>",
        "operationId": "getDistributionAnalyticsDistributionProperties",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicDistributionAnalyticsDistributionPropertyDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/widgets": {
      "get": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Retrieve all the widgets in a widget group",
        "description": "<p>Returns all the widgets from a widget group.</p>",
        "operationId": "getWidgets",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicWidgetDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/mapdata": {
      "get": {
        "tags": [
          "Background layers and areas of interest (=mapdata)"
        ],
        "summary": "Retrieve all the available background layers and areas of interest",
        "description": "Returns a list with all your available background layers and areas of interest.",
        "operationId": "getAllMapDatas",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicMapDataDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/mapdata/{mapDataId}": {
      "delete": {
        "tags": [
          "Project resources: mapdata"
        ],
        "summary": "Detach a mapdata from a project",
        "description": "<p>Detaches/removes a mapdata from a project.</p><p>This will not delete the mapdata, nor the project. It will simply remove the mpadata from the project.</p>",
        "operationId": "removeMapDataFromProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mapDataId",
            "in": "path",
            "description": "The id of the mapdata to detach from the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/datasets/{dataSetId}": {
      "delete": {
        "tags": [
          "Project resources: data sets"
        ],
        "summary": "Detach a data set from a project",
        "description": "<p>Detaches/removes a data set from a project.</p><p>This will not delete the data set, nor the project. It will simply remove the data set from the project.</p>",
        "operationId": "removeDataSetFromProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set to detach from the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}": {
      "delete": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Delete a widget group",
        "description": "<p>Delete a widget group and all the widgets it contains.</p>",
        "operationId": "deleteWidgetGroup",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/dashboard/widgetgroups/{widgetGroupId}/widgets/{widgetId}": {
      "delete": {
        "tags": [
          "Project resources: widgets"
        ],
        "summary": "Delete a widget from a widget group",
        "description": "<p>Delete a widget from a widget group.</p>",
        "operationId": "deleteWidget",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetGroupId",
            "in": "path",
            "description": "The id of the widget group to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "widgetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/bookmarks/{bookmarkId}": {
      "delete": {
        "tags": [
          "Project resources: bookmarks"
        ],
        "summary": "Delete a bookmark",
        "description": "<p>Delete a bookmark, and all the links that were created for this bookmark.</p>",
        "operationId": "deleteBookmark",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmarkId",
            "in": "path",
            "description": "The id of the bookmark to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}/bookmarks/{bookmarkId}/links/{linkId}": {
      "delete": {
        "tags": [
          "Project resources: links"
        ],
        "summary": "Delete a link",
        "description": "<p>Delete a link. Anybody trying to access the link afterwards will get an error.</p>",
        "operationId": "deleteLink",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bookmarkId",
            "in": "path",
            "description": "The id of the bookmark to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkId",
            "in": "path",
            "description": "The id of the link to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/projects/{projectId}": {
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "<p>Deletes the project, and returns the deleted project.</p><p>All project specific resources like bookmarks, dashboards and shared links will also be removed.</p><p>The data used in the project (data sets, areas of interests and background layers) will not be deleted.</p>",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The id of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicProjectDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/mapdata/{mapDataId}": {
      "delete": {
        "tags": [
          "Background layers and areas of interest (=mapdata)"
        ],
        "summary": "Delete a mapdata",
        "description": "<p>Deletes the mapdata, and returns the deleted mapdata.</p><p>Note that the map data will always be deleted, even when it is still in use by projects.</p>",
        "operationId": "deleteMapData",
        "parameters": [
          {
            "name": "mapDataId",
            "in": "path",
            "description": "The id of the mapdata",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMapDataDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}/batches/{batchName}": {
      "delete": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Schedule the deletion of a batch of a data set",
        "description": "<p>Schedules the deletion of a batch of a data set, and all data associated with that batch.It can take some time before the batch is actually deleted.Until the batch is deleted, it will still show up in the data set.</p><p>This operation cannot be undone.Even when the deletion isn't executed yet but only scheduled, it cannot be stopped.</p>",
        "operationId": "deleteBatch",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batchName",
            "in": "path",
            "description": "The id of the batch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    },
    "/public/api/datasets/{dataSetId}": {
      "delete": {
        "tags": [
          "Data Sets"
        ],
        "summary": "Delete a data set",
        "description": "<p>Deletes the data set, and returns the deleted data set.</p><p>Note that the data set will always be deleted, even when it is still in use by projects.</p>",
        "operationId": "deleteDataSet",
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "The id of the data set",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDataSetDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "jwtToken": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PublicAnalyticsFilterDTO": {
        "type": "object",
        "properties": {
          "numericPropertyFilters": {
            "type": "array",
            "description": "<p>The list of filters for numerical properties.</p><p>The valid identifiers used in these filters depend on the page for which you define this filter (e.g. the visual analytics page, the origin destination page, ... ). The <a href=\"#tag/Project-resources:-filter-information\">Project resources: filter information</a> describes how you can obtain a list of valid identifiers.</p>",
            "items": {
              "$ref": "#/components/schemas/PublicNumericPropertyFilterDTO"
            }
          },
          "stringEnumPropertyFilters": {
            "type": "array",
            "description": "<p>The list of filters for string/enum properties.</p><p>The valid identifiers used in these filters depend on the page for which you define this filter (e.g. the visual analytics page, the origin destination page, ... ). The <a href=\"#tag/Project-resources:-filter-information\">Project resources: filter information</a> describes how you can obtain a list of valid identifiers.</p>",
            "items": {
              "$ref": "#/components/schemas/PublicStringEnumPropertyFilterDTO"
            }
          },
          "areaFilters": {
            "type": "array",
            "description": "<p>The list of filters for areas.</p><p>The valid identifiers used in these filters depend on the page for which you define this filter (e.g. the visual analytics page, the origin destination page, ... ). The <a href=\"#tag/Project-resources:-filter-information\">Project resources: filter information</a> describes how you can obtain a list of valid identifiers.</p>",
            "items": {
              "$ref": "#/components/schemas/PublicAreaFilterDTO"
            }
          },
          "temporalFilter": {
            "$ref": "#/components/schemas/PublicTemporalFilterDTO"
          }
        },
        "description": "<p>The time/area/property filter for the analytics pages.</p><p>Note that not all analytics pages support all the filters. Unsupported filters will be ignored.</p>"
      },
      "PublicAreaFilterDTO": {
        "required": [
          "areaIdentifier",
          "filteringMode",
          "included"
        ],
        "type": "object",
        "properties": {
          "areaIdentifier": {
            "type": "string",
            "description": "The identifier of the area to use in the filter"
          },
          "filteringMode": {
            "type": "string",
[...]
